body {
  background-image: url("/img/topo-bg.png");
  background-position: center;
}

.route-section {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 2rem;
}

.route-section h1 {
  margin-bottom: 2rem;
  color: #333;
  text-align: center;
}

.route-section h2 {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  color: #333;
}
